.kidar-calendar {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.kidar-calendar-header{
  display: flex;
}

.kidar-calendar-week {
  width: calc(100%/7);
  color: #303133;
  font-size: 14px;
  min-height: 20px;
  overflow: hidden;
}

.kidar-calendar-week +.kidar-calendar-week{
  margin-left: 8px;
}

.kidar-calendar-body {
  display: flex;
  flex-direction: column;
}

.kidar-calendar-row {
  display: flex;
  position: relative;
  height: 128px;
}

.kidar-calendar-date {
  border-top: 2px solid #EEEFF3;
  width: calc((100% - 48px)/7);
  overflow: hidden;
  border-radius: 1px;

  &:hover{
    background-color: #FAFAFA;
  }
}

.kidar-calendar-date-title {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 4px;
}

.kidar-calendar-today {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  background-color: #F56C6C;
  color: #fff;
}

.kidar-lunar-text {
  font-size: 12px;
  color: #A8ABB2;
  margin-left: 8px;
}

.kidar-calendar-date-active {
  cursor: pointer;
  
  &:hover {
    background-color: #F0F2F5;
  }
}

.kidar-calendar-date-disabled {
  opacity: .5;
}

.kidar-calendar-task {
  font-size: 12px;
  margin: 2px 0px;
  height: 20px;
  position: absolute;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.kidar-calendar-task-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #dedede;
  color: #232323;
  padding: 0 4px;
}

.kidar-calendar-more-item {
  font-size: 12px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 2px 0;
  text-overflow: ellipsis;
}

.kidar-month-select {
  display: flex;
  align-items: center;
}